body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1d1d1d;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.login_box {
  -webkit-box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.27);
}

.slick-prev:before {
  content: "";
}

.slick-next:before {
  content: "";
}

.content-box {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.addOn-box {
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.3);
}
.icon_noti_blue {
  background: #22b0fd;
  background: -moz-linear-gradient(top, #22b0fd 0%, #1491f2 50%, #0268e2 100%);
  background: -webkit-linear-gradient(
    top,
    #22b0fd 0%,
    #1491f2 50%,
    #0268e2 100%
  );
  background: linear-gradient(to bottom, #22b0fd 0%, #1491f2 50%, #0268e2 100%);
}
.icon_noti_green {
  background: #6de68b;
  background: -moz-linear-gradient(top, #6de68b 0%, #44cf66 50%, #1eb844 100%);
  background: -webkit-linear-gradient(
    top,
    #6de68b 0%,
    #44cf66 50%,
    #1eb844 100%
  );
  background: linear-gradient(to bottom, #6de68b 0%, #44cf66 50%, #1eb844 100%);
}
/* Ẩn thanh cuộn dọc (phía bên phải) */
::-webkit-scrollbar {
  width: 0em;
}

.header_user {
  background: #181816;
  background: -moz-linear-gradient(top, #181816 0%, #cbcac9 53%, #ffffff 100%);
  background: -webkit-linear-gradient(
    top,
    #181816 0%,
    #cbcac9 53%,
    #ffffff 100%
  );
  background: linear-gradient(to bottom, #181816 0%, #cbcac9 53%, #ffffff 100%);
}
.btn-primary {
  background-color: #1B74E4;
  color: white;
  padding: 8px 16px;
  border-radius: 0.375rem;
}
.btn-reject {
  background-color: #E4E6EB;
  padding: 8px 20px;
  border-radius: 0.375rem;
}
.btn-reject:hover {
  background-color: #D8DADF;
}
/* .aspectRatioContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.aspectRatioContainer .reactPlayer {
  width: 100%;
  aspect-ratio: 16/10; 
} */